@import "text.scss";

@font-face {
  font-family: "Kelson";
  src: url("Kelson.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kelson";
  src: url("Kelson-Medium.woff");
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "Kelson";
  src: url("Kelson-Bold.woff");
  font-weight: bold;
  font-style: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
}
* + * {
  margin-top: 1rem;
}
html,
body {
  margin: 0;
  color: #323c34;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.4;
  /* remove margin for the main div that nuxt mounts into */
  > div {
    margin-top: 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  + * {
    margin-top: 0.5rem;
  }
}

li {
  margin-top: 0.25rem;
  list-style: none;
}
a {
  text-decoration: none;
}
